<div class="panel-brand">
    {{ with (or .Site.Params.remote_brand_image .Site.Params.brand_image) }}
        <a href="{{ $.Site.BaseURL }}" aria-label="Home">
            <img src="{{ . }}" alt="{{ $.Site.Params.brand | default $.Site.Title }}" width="60" height="60">
        </a>
    {{ end }}
    <div class="prompt">~/rustydaemon $</div>
    {{ with (or .Site.Params.brand .Site.Title) }}
        <h1><a href="{{ $.Site.BaseURL }}">{{ . }}</a></h1>
    {{ end }}
    {{ with .Site.Params.tagline }}
        <p class="lead">{{ . | safeHTML }}</p>
    {{ end }}
</div>
