{{ if or .PrevInSection .NextInSection }}
<nav class="post-nav" aria-label="Post navigation">
    {{ with .PrevInSection }}
        <a href="{{ .Permalink }}" class="prev" rel="prev">
            <span class="label">previous</span>
            <span class="title">{{ .Title }}</span>
        </a>
    {{ else }}
        <span></span>
    {{ end }}
    {{ with .NextInSection }}
        <a href="{{ .Permalink }}" class="next" rel="next">
            <span class="label">next</span>
            <span class="title">{{ .Title }}</span>
        </a>
    {{ else }}
        <span></span>
    {{ end }}
</nav>
{{ end }}
