{{ with .Params.series }}
    {{ $seriesURL := print "series/" (. | urlize) }}
    {{ $series := $.Site.GetPage $seriesURL }}
    {{ if $series }}
    <section class="series-section" aria-labelledby="series-heading">
        <h2 id="series-heading">// part of <a href="{{ $series.Permalink }}">{{ . }}</a></h2>
        <ul class="series-list">
            {{ range $series.Pages }}
                <li class="{{ if eq .Permalink $.Permalink }}current{{ end }}">
                    <span class="date">{{ .Date.Format "Jan 02, 2006" }}</span>
                    {{ if eq .Permalink $.Permalink }}
                        <span>{{ .Title }}</span>
                    {{ else }}
                        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                    {{ end }}
                </li>
            {{ end }}
        </ul>
    </section>
    {{ end }}
{{ end }}
