<aside class="toc" data-toc aria-label="Table of contents">
    <div class="toc-head">
        <span class="toc-label">// on this page</span>
        <button type="button" class="toc-toggle" data-toc-toggle aria-label="Collapse table of contents" aria-expanded="true" title="Collapse table of contents">
            <svg class="toc-icon-collapse" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polyline points="9 18 15 12 9 6"/></svg>
            <svg class="toc-icon-expand" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true" style="display:none"><polyline points="15 18 9 12 15 6"/></svg>
        </button>
    </div>
    <div class="toc-body">
        {{ .TableOfContents }}
    </div>
</aside>
